.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none
}


.my-image{
    height : 200px !important;
    width: 80% !important
}

.row {
    justify-content: center;
    align-items: center;
}